
<div class="container-parent">
    <h1 class="main-text text-7xl text-right p-8 w-screen" data-aos="fade-down">galactic fleet</h1>

    <div class="my-4">
        <h2 class="p-6 main-text text-4xl w-5/6 m-auto">Starship Information</h2>
        <app-table [columns]="starshipColumns" [data]="starshipData"></app-table>
    </div>
    <div class="my-4">
        <h2 class="p-4 main-text text-4xl w-5/6 m-auto">Vehicle Information</h2>
        <app-table [columns]="starshipColumns" [data]="starshipData"></app-table>
    </div>
</div>