<div class="planetology-screen h-screen">
    <h1 class="planet-name">{{planetData?.name}}</h1>
<div class="card min-w-[36rem] max-w-[35rem] bg-white rounded-md p-6">
    <div class="flex info-card items-center">
        <img src="../../../assets/orbit.png" alt="orbit" class="icon">
        <p>orbital period :
            <span> 
                {{planetData?.orbital_period}}
            </span>
        </p>
    </div>
    <div class="flex info-card items-center">
        <img src="../../../assets/rotation.png" alt="" class="icon">
        <p>rotation period :
            <span> 
                {{planetData?.rotation_period}}
            </span>
        </p>
    </div>
   
    <div class="flex info-card items-center">
        <img src="../../../assets/baby-yoda.png" alt=""  class="icon">
        <p>population : 
            <span> 
                {{planetData?.population}}
            </span>
        </p>
    </div>
    <div class="flex info-card items-center">
        <img src="../../../assets/terrain.png" alt="orbit" class="icon">
        <p>terrain :
            <span> 
                {{planetData?.terrain}}
            </span>
        </p>
    </div>
    <div class="flex info-card items-center">
        <img src="../../../assets/diamter.png" alt="orbit" class="icon">
        <p>diameter :
            <span> 
                {{planetData?.diameter}}
            </span>
        </p>
    </div>
    <div class="flex info-card items-center">
        <img src="../../../assets/climate.png" alt="orbit" class="icon">
        <p>climate : 
            <span> 
                {{planetData?.climate}}
            </span>
        </p>
    </div>
   
</div>
  
</div>