<div class="planetology-screen m-auto">
    <div class="section justify-center flex flex-col">
        <h1 class="planet-name mx-10 text-center flex items-center justify-center"><img src="../../../../assets/planet.png" alt="" class="mx-4">{{planetData?.name}}</h1>
        <h3 class="basic-info text-4xl font-bold text-center py-8">basic information</h3>

        <div class="justify-center">
            <div class="card bg-white rounded-md p-4 w-full sm:w-[35rem] m-auto">
                <div class="flex info-card items-center">
                    <img src="../../../assets/orbit.png" alt="orbit" class="icon">
                    <p class="category whitespace-normal typing-animation">orbital period (days):
                        <span class="text-black"> 
                            {{planetData?.orbital_period}}
                        </span>
                    </p>
                </div>
                <div class="flex info-card items-center">
                    <img src="../../../assets/rotation.png" alt="" class="icon">
                    <p class="category whitespace-normal typing-animation">rotation period (hours):
                        <span class="text-black"> 
                            {{planetData?.rotation_period}}
                        </span>
                    </p>
                </div>
                
                <div class="flex info-card items-center">
                    <img src="../../../assets/baby-yoda.png" alt=""  class="icon">
                    <p class="category whitespace-normal typing-animation">population : 
                        <span class="text-black"> 
                            {{planetData?.population}}
                        </span>
                    </p>
                </div>
                <div class="flex info-card items-center">
                    <img src="../../../assets/terrain.png" alt="orbit" class="icon">
                    <p class="whitespace-normal category whitespace-normal typing-animation">terrain :
                        <span class="text-black"> 
                            {{planetData?.terrain}}
                        </span>
                    </p>
                </div>
                <div class="flex info-card items-center">
                    <img src="../../../assets/diamter.png" alt="orbit" class="icon">
                    <p class="category whitespace-normal typing-animation">diameter (miles):
                        <span class="text-black"> 
                            {{planetData?.diameter}}
                        </span>
                    </p>
                </div>
                <div class="flex info-card items-center">
                    <img src="../../../assets/climate.png" alt="orbit" class="icon">
                    <p class="category whitespace-normal typing-animation">climate : 
                        <span class="text-black"> 
                            {{planetData?.climate}}
                        </span>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    <h3 class="basic-info text-4xl font-bold text-center py-10 lg:w-3/4 m-auto">{{miniHeading}}</h3>
    <ng-container *ngIf="residentDetails && residentDetails.length > 0">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-6 w-full sm:w-5/6 m-auto p-10">
            <div *ngFor="let resident of residentDetails">
                <app-resident-profile [residentDetails]="resident"></app-resident-profile>
            </div>
        </div>
    </ng-container>
</div>
