@font-face {
    font-family: 'swJhol';
    src: url('../../../../assets/fonts/Starjhol.ttf') format('truetype');

}

  .planetology-screen{
    background-image: url('../../../../assets/galaxy.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
background-attachment: fixed;
}
.card{
    border: 8px solid #B70000;
}

.icon{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.info-card{
    width: 25rem;
    margin-block: 0.5rem;
   
}
p {
    font-family: 'swJedi', sans-serif; 
    font-size: 1rem;
}

.planet-name {
    color: beige;
    font-family: 'swJedi', sans-serif; 
    font-size: 7rem;
}

.basic-info{
    font-family: 'swJhol';
    color: #2C8BCF;
}

.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    animation: typing-animation 2s steps(60, end);
  }
  
  @keyframes typing-animation {
    from { width: 0; }
    to { width: 100%; }
  }