
.container-parent {
    font-family: 'swJedi', sans-serif; 
    background-image: url("../../../../assets/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-text{
    color: rgb(250, 186, 36);
    font-family: 'swJhol', sans-serif; 
}

.sub-text{
    color: beige;
    font-family: 'swJedi', sans-serif; 
}

.desc{
  font-family: 'pixeboy', sans-serif; 
}

.head{
  color: rgb(255, 203, 83) ;
}

.card{
  border:  4px solid #fff;
}