
.container-parent {
    font-family: 'swJedi', sans-serif; 
    background-image: url("../../../assets/main-screen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-text{
    color: rgb(250, 186, 36);
    font-family: 'swJhol', sans-serif; 
}

.sub-text{
    color: beige;
    font-family: 'swJedi', sans-serif; 
}

