html {
    color: white
}

.main-text{
    color: rgb(250, 186, 36);
    font-family: 'swJhol', sans-serif; 
}

.sub-text {
    color: #fff;
    font-family: 'pixeboy', sans-serif; 
    /* font-size: 2rem; */
}
