@font-face {
    font-family: 'swJedi';
    src: url('../assets/fonts/Starjedi.ttf') format('truetype');

}
@font-face {
    font-family: 'swJhol';
    src: url('../assets/fonts/Starjhol.ttf') format('truetype');

}

body {
    font-family: 'swJedi', sans-serif; 

  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  