/* button {
    color: white
} */

.container-parent, html {
    background-image: url("../../../../assets/panet-cards-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-text{
    color: rgb(250, 186, 36);
    font-family: 'swJhol', sans-serif; 
}
.sub-text{
    font-family: 'pixeboy', sans-serif; 
    color: #ffffff;
    letter-spacing:1.5px ;
}

.previousPage, .nextPage {
    width: 4rem;
}

.previousPage {
    transform: scaleX(-1);
}

.back {
    border: 3px solid #B70000;
    color: white;
    font-family: 'swJedi', sans-serif; 

}